{% extends 'base.html' %}

{% load static %}

{% block content %}



<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog | Twitter</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

    <link href="{% static 'csss/business-casual.css' %}" rel="stylesheet">
    
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Twitter</span>
    </h1>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-innerv text-center rounded">
              <h2 class="section-heading mb-5">

                <span class="section-heading-lower">{{post.title}}</span>
              </h2>
              <p class="mb-0">
                {% if post.image %}
                <img style="width: 200px; height: 200px; border-radius: 40px;" class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ post.image.url }}" alt="">
                {% endif %}
              </p>
              <p class="mb-0 mbt">
                {{post.description}}
              </p>
              <p class="mb-0 mbt">
                <span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em></span>
              </p>
              <div>
                <a style="position: relative;" href="{% url 'update' post.pk %}"><button type="button" class="btn btn-warning">Update</button></a> 
                <a  style="position: relative;" href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-warning">Delete</button></a> 
              </div>
            </div>
          </div>
        </div>
      </div>

      
        

    </section>

    <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
            <a href="https://www.facebook.com/" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.instagram.com/" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
        </p>
        <p class="m-0 mbt1">&copy; {{post.author}}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>

{% endblock %}